:host {
  display: block;
}

.multi-select-field {
  --mat-chip-elevated-container-color: rgb(39 39 42);
  --mat-chip-label-text-color: rgb(244 244 245);
  --mat-chip-with-trailing-icon-trailing-icon-color: rgb(212 212 216);
}
